.header {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 88px;
    border-bottom: 1px solid $sub-text-color;
  }

  &__link {
    color: $sub-text-color;
    font-weight: bold;
    font-size: 18px;
    font-family: "Gilroy-Bold", sans-serif;
    text-decoration: none;

    transition: color 0.5s;

    &:hover {
      color: $main-text-color;
    }
  }

  @media screen and (max-width: 500px) {
    &__menu {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      padding: 20px 0;
    }
  }
}
